
@import url("https://cdn.syncfusion.com/ej2/20.3.56/bootstrap5.css");


.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
 
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: #9bbee4 ;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color:#029aff;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}
button:hover{
  background-color: #307dcf;
  transition: 0.5s;
}



.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.error-message {
  color: #000000; /* Red color for error messages */
  font-size: 16px; /* Font size of the error message */
  margin-top: 5px; /* Margin space at the top of the error message */
  font-weight: 800;
}



/* First Section */
.first-section {
  background-color: #eef4fa;
  color: #FFFFFF;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 40px;
}

.text1{
  color: #000;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40%;
}

.text2{
  color: #4D4D4D;
  margin-left: 200px;
  margin-right: 200px;
  font-family:'Times New Roman', Times, serif
 
}

.btn1{
  margin-top: 20px;
  background-color: blue;
  width: 150px;
  font-size: 16px;
  color: #FFFFFF;

}
.btn1:hover{
  background-color: #0066ff;
  transition-duration: 0.5s;
}

.text-and-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  text-align: center;
}

.welcome-text h1 {
  font-weight: bold;
  font-size: 2.5rem;
}

.welcome-text p {
  font-size: 1.2rem;
}

.ebook-image img {
  width: 70%;
  max-width: 100%;
  height: 50%;
  border-radius: 10px;
}

/* Second Section */
.second-section {
  background-color: #FFFFFF;
  color: #4D4D4D;
  text-align: center;
  padding: 40px;
}

.second-section h2 {
  font-weight: bold;
  font-size: 1.8rem;
}

/* Grid Layout for Services */
.service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Gap between containers */
  text-align: left;
  margin-top: 20px;
}

.service-container {
  background-color: #e8f0f8; /* Background color for each service container */
  padding: 20px;
  border-radius: 10px;
  margin:0 auto;
  max-width: 600px;
  width: 100%;
  
}

.service h3 {
  font-weight: bold;
}


/* Third Section */
.third-section{
  background-color: #4187f0;
  padding: 80px;
}

.search{
  width:400px;
}

.third-section p{
  color:#fff;
}

/* Footer Section */
.footer {
  
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

.footer p {
  margin: 5px 0;
  color: #000; /* Add spacing between lines of text */
}

.footer p:first-child {
  font-weight: bold; /* Make the first line (Copyright notice) bold */
}



/* Navbar Styles */
.navbar {
  position: fixed; /* Make the navbar stationary */
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the navbar is above other content */
  height: 70px;
}

.navbar-left {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
}

.navbar-title {
  color: #000;
  text-decoration: none;
  margin-left: 100px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 200px;
}

.navbar-button,
.navbar-link {
  margin-left: 20px;
  text-decoration: none;
  color: #2270E2;
  font-weight: bold;
}

/* Highlight the current page link */
.navbar-link.active {
  color: #000;
}




/* ContactSection.css */

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  
  /* Add other styles like width, margins, etc. as needed */
}

.contact-left {
  flex: 1;
}

.contact-left h2 {
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  margin-top: -55px;
  
}

.contact-left img {
  max-width: 100%;
 
}

.contact-right {
  flex: 1;
}

.contact-right input,
.contact-right textarea {
  width: 100vh;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.contact-right, input{
  border-color: #000000;
}

.contact-right button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-right button:hover {
  background-color: #0056b3;
}
