/* ContactPage.css */

/* Styles for the Contact Page */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .text0{
    color: #000000;
    font-size: 40px;
  }
  
  .left_section, p{
    color: #3f3f3f;
    font-size: 15px;
    margin-left: auto;
  
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;

  }
  
  .left-section h2 {
    font-weight: bold;
    margin-bottom: 10px;
    display:inline-flexbox;
  }
  
  .right-section {
    flex: 1;
    padding-left: 200px;
  }
  
  .right-section form {
    display: flex;
    flex-direction: column;
  }
  .form-group input{
    width:50%;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
  }

  /* Style the textarea */
.form-group textarea {
    width: 50%; /* Make the textarea span the full width of its container */
    padding: 10px; /* Add padding to the textarea for spacing */
    border: 1px solid #ccc; /* Add a border for visual separation */
    border-radius: 4px; /* Add rounded corners to the textarea */
}
  
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
    height: 150px; /* Adjust the height as needed */
  }


  
  button {
    background-color: #2270E2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 25%;
  }
  
  /* Styles for the Map Section */
  .map-section {
    height: 400px;
    /* Add more styles for the map container as needed */
  }
  
/* About.css */

/* Styles for the About Page */

.about-section{
  background-color: rgb(25, 107, 179);
  display: flex;
 
}


/* CreateEbook.css */

.create-ebook-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.create-ebook-container h2 {
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
textarea {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  margin-top: 30px;
  width: 70px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Add more styles as needed */
